<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
    </style>
    <title>Travel App</title>
  </head>
  <body>
    <header>
      <img class="logo" src="media/website_logo.png" alt="logo" />
    </header>
    <main>
      <div class="herosection">
        <h1>Plan your future trip today</h1>
        <h2>Search for safest destinations</h2>
        <form>
          <input type="text" id="arrival_city" placeholder="From" />
          <input type="text" id="city" placeholder="To" />
          <input type="date" id="date" placeholder="Departure" />
          <input type="date" id="re_date" placeholder="Return" />
          <div id="error"></div>
          <button
            type="submit"
            class="button"
            onclick="return Client.performFunction(event)"
            onsubmit="return performFunction(event)"
          >
            EXPLORE
          </button>
        </form>
      </div>
      <!--Container box-->
      <div id="load"></div>
      <section id="container">
        <div id="image" class="box_image"></div>
        <div class="box_text">
          <div id="tripDetails"></div>
          <div id="duration"></div>
          <div id="currentWeather"></div>
          <div id="flightButton"></div>
          <div id="flight"></div>
          <div id="weatherButton"></div>
          <div id="forecast"></div>
        </div>
      </section>
    </main>

    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
