body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

main {
  display: flex 2;
}
.herosection {
  background-image: url("./../media/sunset.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 400px;
  text-align: center;
}

.box {
  max-width: 1200px;
  margin: 50px auto;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  line-height: 30px;
  padding: 10px;
  &_image {
    float: left;
  }
  &_text {
    display: inline-block;
    margin-left: 10px;
  }
}

h1 {
  font-size: 36px;
  color: #ffffff;
  padding: 5px;
}

h2 {
  font-size: 12px;
  color: #ffffff;
}

#loader {
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

#loader > img {
  width: 100px;
}

.hidden {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visisbility: hidden;
  }
}
