form {
  padding: 10px;
  text-align: center;
  max-width: 1000px;
  background-color: #FFFFFF;
  justify-content: center;
  margin: 20px auto;
  border-radius:10px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

input {
  width: 30%;
  padding: 5px 20px;
  line-height: 16px;
  margin: 10px 0;
  border-radius: 5px;
  border-color: #C2C8C0; 
  
}

.button {
  padding: 5px;
  width: 70%;
  border-radius: 10px;
  background : linear-gradient(#65bbb6 50%, #2e826e);
  color: #FFFFFF;
  border-color:#65bbb6 ;
  transition: all 1s ease;
  transform: scale(1);
}
  .button:hover {
    cursor: pointer;
    color:black;
    background:#FFFFFF;
    border-color: #65bbb6;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
    transform: scale(1) perspective(1px);
  }


input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

#error {
  color: red;
}